# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
## backend
backend/__pycache__
*/.env

## front end
# dependencies
frontend/node_modules/*

# misc
.DS_Store

# extension
frontend/extension/*
!frontend/extension/manifest.json